<!DOCTYPE HTML>
<html>
	<head>
		<title>Services</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">
 			<header id="header">
				
				<h1>Management Consultant<br>
					Revolutionizing Management vision - with new approach of using <strong>POWER OF BRAIN</strong> in Organizations.</h1>
			</header>
			<div id="main">
				<section style="margin-top:-80px;">
					<header class="major" style="">
						 
						<img src="../images/logo.jpg" alt="BIC" style="height:150px;width:250px;" />
						<br> 
						<a href="../index.html" class="button special small">Home</a>
						<a href="profile.html" class="button special small">Profile of Farasat Saeed</a>
						<a href="../index.html#three" class="button special small">Contact</a>

					</header>						
				</section>

				 
				<!-- Two -->
					<section id="two">
						<h2 class="green">What BIC Does</h2>
						<p>
							BIC will attract positive favorable circumstances for you and Your Organization using invisible Power of Brain. Services offered by BIC are exceptional in that all management services (Organizational Strategy, Goals, Sales, Project Management, Restructuring, Employee Sciences, Transformation, and New business, Investment Advisory, Business Turnaround, Mega Projects Execution and Build etc.) are attached with invisible laws. This if truth be told will bring out outstanding and surprising results in shortest possible time. You just have to knock the door and enter. 
						</p>
						<p>
							BIC defines and strategizes organizational as well as individual goals with Owners, Founders, and Top Management of Organizations. BIC consultants on site will also drive goals through all business units. Consultants ensure initiating, planning, executing, reporting, adjusting and then closing with desired results within schedule. Results thus arrived at further lays road to more successful outcomes.
						</p>
						<p>
							Let BIC attract for you all favorable positive circumstances around YOU and YOUR Businesses with guaranteed success. BIC challenges of taking your business to new directions and heights that you have never thought of and never imagined of that such a powerful influence can be created on all aspects of Business environment.
						</p>							 
					</section> 
				 
			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">					 
					<li>
						<a href="news.html" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a>
					</li>
					<li>
						<a href="news.html" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a>
					</li>						 
					<li>
						<a href="mailto:beyondimaginationconsultant@gmail.com" class="icon fa-envelope-o">
							<span class="label">Email</span>
						</a>
					</li>
				</ul>
				<ul class="copyright">
					<li>&copy; Beyond Imagination Consultants</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.poptrox.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>