<!DOCTYPE HTML>
<html>
	<head>
		<title>Services</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">
 			<header id="header">
				
				<h1>Management Consultant<br>
					Revolutionizing Management vision - with new approach of using <strong>POWER OF BRAIN</strong> in Organizations.</h1>
			</header>
			<div id="main">
				<section style="margin-top:-80px;">
					<header class="major" style="">
						 
						<img src="../images/logo.jpg" alt="BIC" style="height:150px;width:250px;" />
						<br> 
						<a href="../index.html" class="button special small">Home</a>
						<a href="profile.html" class="button special small">Profile of Farasat Saeed</a>
						<a href="../index.html#three" class="button special small">Contact</a>

					</header>						
				</section>

				 
				<!-- Two -->
					<section id="two">
						<h2 class="green">News</h2>
						  <a class="twitter-timeline" href="https://twitter.com/bic_consultant" data-widget-id="734311251082235904">Tweets by @bic_consultant</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>						 

<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBICconsult%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

					</section> 
				 
			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">					 
					<li>
						<a href="news.html" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a>
					</li>
					<li>
						<a href="news.html" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a>
					</li>						 
					<li>
						<a href="mailto:beyondimaginationconsultant@gmail.com" class="icon fa-envelope-o">
							<span class="label">Email</span>
						</a>
					</li>
				</ul>
				<ul class="copyright">
					<li>&copy; Beyond Imagination Consultants</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.poptrox.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>