<!DOCTYPE HTML>
<html>
	<head>
		<title>Profile of Farasat Saeed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">
 			<header id="header">
				
				<h1>Management Consultant<br>
					Revolutionizing Management vision - with new approach of using <strong>POWER OF BRAIN</strong> in Organizations.</h1>
			</header>
			<div id="main">
				<section style="margin-top:-80px;">
					<header class="major" style="">
						 
						<img src="../images/logo.jpg" alt="BIC" style="height:150px;width:250px;" />
						<br> 
						<a href="../index.html" class="button special small">Home</a>
						<a href="services.html" class="button special small">Services</a>
						<a href="../index.html#three" class="button special small">Contact</a>

					</header>						
				</section>

				 
				<!-- Two -->
					<section id="two">
						<h2 class="green">Profile Farasat</h2>
						<p>Farasat Saeed’s Past Career Contributions to Different Organizations in different capacities</p>
						   
					</section> 
				 
			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">					 
					<li>
						<a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
					</li>
					<li>
						<a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
					</li>					 
					<li>
						<a href="mailto:beyondimaginationconsultant@gmail.com" class="icon fa-envelope-o">
							<span class="label">Email</span>
						</a>
					</li>
				</ul>
				<ul class="copyright">
					<li>&copy; Beyond Imagination Consultants</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.poptrox.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>