<!DOCTYPE HTML>
<html>
	<head>
		<title>Profile of Farasat Saeed</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">
 			<header id="header">
				
				<h1>Management Consultant<br>
					Revolutionizing Management vision - with new approach of using <strong>POWER OF BRAIN</strong> in Organizations.</h1>
			</header>
			<div id="main">
				<section style="margin-top:-80px;">
					<header class="major" style="">
						 
						<img src="../images/logo.jpg" alt="BIC" style="height:150px;width:250px;" />
						<br> 
						<a href="../index.html" class="button special small">Home</a>
						<a href="services.html" class="button special small">Services</a>
						<a href="../index.html#three" class="button special small">Contact</a>

					</header>						
				</section>

				 
				<!-- Two -->
					<section id="two">
						<h2 class="green">Profile Farasat</h2>
						<p>Farasat Saeed’s Past Career Contributions to Different Organizations in different capacities</p>
						 
						<table class="customtable">
							<tr>
								<td>
									<img src="../images/profile/Commtel.png" alt="Commtel" style="height:40px;width:130px;" /><br>
									<strong>Employer:</strong>
									Commtel Pakistan, Information Technology<br>
									<strong>Client:</strong>
									Government, Financial Institutions and Banks, Telecom, Pharma etc<br>
									<strong>Project:</strong>
									Project Manager & Central Sales Coordinator, Organizational Development, Event Management, Implement management vision
								</td>
							</tr>
							<tr>
								<td>
									<img src="../images/profile/TCI.jpg" alt="TCI" style="height:60px;width:130px;" />
									<img src="../images/profile/STC.jpg" alt="STC" style="height:60px;width:130px;" />
									<img src="../images/profile/KEC.jpg" alt="KEC" style="height:60px;width:130px;" />

									<br>
									<strong>Employer:</strong>
									Transformation Consulting International (TCI) on Behalf of Saudi Telecom, Saudi Arabia (STC)<br>
									<strong>Client of STC:</strong>
									Knowledge Economic City (KEC) Madina Al Munawara Suaid Arabia<br>
									<strong>Project:</strong>
									Independent Entrepreneur Project Manager PMO for Knowledge Economic City for implementation of Fiber FTTh  
								</td>
							</tr>
							<tr>
								<td>
									<img src="../images/profile/NTSA.gif" alt="NTSA" style="height:60px;width:130px;" />
									<img src="../images/profile/STC.jpg" alt="STC" style="height:60px;width:130px;" />
									 
									<br>
									<strong>Employer:</strong>
									Norconsult Telematics (NTSA) on Behalf of Saudi Telecom, Saudi Arabia (STC)<br>
									<strong>Client:</strong>
									Mega Fiber Projects in Kingdom of Saudi Arabia <br>
									<strong>Project:</strong>
									Senior Consultant, Project Manager, Project Reporting & Scheduling Analyst, Project Controller for Larger Fiber Projects, 2G/3G/4G Projects 
								</td>
							</tr>
							<tr>
								<td>
									<img src="../images/profile/TelenorPK.png" alt="NTSA" style="height:80px;width:130px;" />
									 
									<br>
									<strong>Employer:</strong>
									Telenor Pakistan<br>
									<strong>Client:</strong>
									2G BTS Rollout in Pakistan<br>
									<strong>Project:</strong>
									Project Reporting Executive, Pakistan. First Launch of services Telenor in Pakistan
								</td>
							</tr>
							<tr>
								<td>
									<img src="../images/profile/TelenorPK.png" alt="NTSA" style="height:80px;width:130px;" />
									<img src="../images/profile/NTSA.gif" alt="NTSA" style="height:60px;width:130px;" /> 
									<br>
									<strong>Employer:</strong>
									Norconsult Telematics (NTSA) Pakistan<br>
									<strong>Client:</strong>
									2G BTS Rollout in Pakistan<br>
									<strong>Project:</strong>
									Project Scheduler, Pakistan. First Launch of Services in Pakistan
								</td>
							</tr>
							 
						</table> 
						 
						<h2 class="green">Career Achievements</h2>
						<p>Farasat Saeed has worked in different Multinational Organizations of world standing and on Mega projects. He has following key capability to his fame</p>
						<ul>
							<li>Project Management</li>
							<li>Program Management</li>
							<li>Project Control Management</li>
							<li>Project Management Office (PMO)</li>
							<li>Rollout Monitoring and Control</li>
							<li>Customer Project Management</li>
							<li>Partner / Independent Consultant</li>
							<li>Service Delivery</li>
							<li>Organizational Transformation</li>
							<li>Organizational Development & Employee Sciences</li>
							<li>Risk and Change Management</li>
							<li>Marketing and Event Management</li>
							<li>Business & Investment Consultancy</li>
						</ul>
					</section> 
				 
				

			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">					 
					<li>
						<a href="news.html" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a>
					</li>
					<li>
						<a href="news.html" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a>
					</li>						 
					<li>
						<a href="mailto:beyondimaginationconsultant@gmail.com" class="icon fa-envelope-o">
							<span class="label">Email</span>
						</a>
					</li>
				</ul>
				<ul class="copyright">
					<li>&copy; Beyond Imagination Consultants</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.poptrox.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>